body {
  background-color: #C0AB8E;
}
p{
  font-size: 5vw;
  font-family: 'Vast Shadow', cursive;
  letter-spacing: 0.3em;
  line-height: 1;
  margin: auto;
  text-transform: uppercase;
  cursor: pointer;
  color: #000;
  text-align: center;
  user-select: none;
}